.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }

* {
    font-family: poppins;
}


body {
    border: 0px;
    padding: 0px;
    margin: 0px;
    /* overflow: hidden; */
}

header {
    /* border-bottom: 1px solid black; */
    overflow: hidden;
}



/* Contact Nav section */
#contact-nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-left: 16px;
    padding-right: 16px;
    height: 100%;
    /* background-color: #8cb45430 ; */
    opacity: 90%;
    background-color: #095087;
}

#navSosmedContainer {
    list-style: none;
    display: flex;
    padding: 0px;
    align-items: center;
    align-content: center;
    justify-content:center;
    margin-top: 12px;
}

.nav-sosmed > img {
    width: 24px;
    height: 24px;
    padding-right: 8px;
}

.nav-sosmed > img:hover {
    opacity: 70%;
}

#contact-nav > p {
    margin-top: 12px;
    font-weight: bold;
    color: white;
}


/* Ambulance */

#ambulanceSection {
    position: absolute;
    right: 8px;
    transform: translate(0vw, 80vh)
}

#ambulanceButton {
    display: none;
}

#ambulanceButton + label > img {
    width: 35px;
    height: 35px;
    padding: 8px;
    border-radius: 50%;
    object-fit: contain;
    /* background-color: rgba(255, 0, 0, 0.158); */
    background-color: rgba(255, 255, 0, 0.3);
}   

#ambulanceButton + label > img:hover {
    transform: scale(1.1);
    background-color: yellow;
}

#ambulanceContentBg {
    position: absolute;
    border: 1px solid black;
    height: 101vh;
    width: 101vw;
    right: -8px;
    transform: translate(0, -88vh);
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}

/* #ambulanceContentBg:hover {
    display: none;
} */

#ambulanceContentContainer {
    position: absolute;
    border: 1px solid white;
    width: 90vw;
    height: 55vh;
    transform: translate(6vw, 21vh);
    background-color: white;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

#ambulanceButton:checked + label > img {
    background-color: yellow;
}

#ambulanceButton:checked ~ #ambulanceContentBg {
    visibility: visible;
    opacity: 1;
}

.ambulanceContent  {
    list-style: none;
}

.ambulanceContent > a {
    text-decoration: none;
}

.ambulanceContent > a > h3 {
    color: white;
    background-color: #8cb454;
    padding: 8px;
    border-radius: 8px;
    width: 75vw;
    box-shadow: 0px 0px 4px black;
}

.ambulanceContent > a > h3:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 4px black;
    background-color: #8cb45490;
}


/* Sticky Nav section */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid black; */
    height: 45px;
    padding-left: 16px;
    padding-right: 16px;
    top: 0;
    position: sticky;
    z-index: 1;
    background-color: white;
    opacity: 95%;
    margin-top: -16px;
    margin-bottom: -16px;
}

#logo-nav {
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
    margin-top: 8%;
}

#logo-nav:hover {
    transform: scale(1.1);
    opacity: 70%;
}

#hamburgerSection {
    margin-top: 8px;
}

#hamburger {
    display: none;
}

#hamburger + label > img {
    width: 35px;
    height: 35px;
    animation-name: fadeIn;
    animation-duration: 1s;
}   

#hamburger + label > img:hover {
    transform: scale(1.1);
}   

#closeImg {
    display: none;
}
#hamburger:checked + label > img {
    display: none;
}

#hamburger:checked + label #closeImg {
    display: block;
}


#navDirectoryContainer {
    position: absolute;
    list-style: none;
    margin: 0;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    top: 0;
    right: 0;
    width: 100vw;
    height: 70vh;
    justify-content: space-around;
    background-color: white;
    transform: translate(0, 45px);
    visibility: hidden;
    opacity: 0;
    transition-duration: 0.5s;
    border-bottom: 1px solid rgb(128, 128, 128, 50%);
}

#hamburger:checked ~ #navDirectoryContainer {
    visibility: visible;
    opacity: 1;
}

.navDirectory {
    border-top: 1px solid rgb(128, 128, 128, 50%);
    height: 100%;
    align-content: center;
}

.navDirectory > a {
    text-decoration: none;
    color: black;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: bold;
    /* border: 1px solid; */
}

.navDirectory > :hover {
    color: #8cb454;
}


/* Hero Section */

#hero {
    position: relative;
}

#hero-image-container {
    list-style: none;
    padding-left: 0;
    display: flex;
    transition-duration: 1s;
    height: 100%;
    animation-name: heroAnimation1;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes heroAnimation1 {
    0% {transform: translate(0%);}
    20% {transform: translate(-100%);}
    40% {transform: translate(-200%);}
    60% {transform: translate(-300%);}
    80% {transform: translate(-400%);}
    100% {transform: translate(0%);}
}

@keyframes heroAnimation2 {
    0% {transform: translate(-100%);}
    20% {transform: translate(-200%);}
    40% {transform: translate(-300%);}
    60% {transform: translate(-400%);}
    80% {transform: translate(0%);}
    100% {transform: translate(-100%);}
}

@keyframes heroAnimation3 {
    0% {transform: translate(-200%);}
    20% {transform: translate(-300%);}
    40% {transform: translate(-400%);}
    60% {transform: translate(0%);}
    80% {transform: translate(-100%);}
    100% {transform: translate(-200%);}
}

@keyframes heroAnimation4 {
    0% {transform: translate(-300%);}
    20% {transform: translate(-400%);}
    40% {transform: translate(0%);}
    60% {transform: translate(-100%);}
    80% {transform: translate(-200%);}
    100% {transform: translate(-300%);}
}

@keyframes heroAnimation5 {
    0% {transform: translate(-400%);}
    20% {transform: translate(0%);}
    40% {transform: translate(-100%);}
    60% {transform: translate(-200%);}
    80% {transform: translate(-300%);}
    100% {transform: translate(-400%);}
}


.hero-image-list {
    list-style: none;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    border-bottom: 1px solid black;
}

.hero-image-list picture > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#heroButtonContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 2%;
    left: 0;
}

.heroButton {
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background-color: white;
    display: inline-block;
    margin-right: 2px;
    margin-left: 2px;
    opacity: 50%;
}

.heroButton:hover {
    opacity: 100%;
}



main {
    margin: 16px;
}

/* Find a Doctor */

#find-a-doctor {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    border-radius: 16px;
    padding: 16px;
    padding-top: 0px;
    overflow: hidden;
    box-shadow: 0px 0px 8px rgb(181, 181, 181);
}

#find-a-doctor  > h2 {
    background-color: #84c33d;
    margin-top: -8px;
    margin-left: -16px;
    margin-right: -16px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

#form-findAdoctor {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


#form-submit > button{
    background-color: #8cb454;
    border: 1px solid #8cb454;
    color: white;
    border-radius: 4px;
    transition-duration: 0.5s;
}

#form-submit > button:hover {
    color:black;
    background: #8cb45499;
    border: 1px solid #8cb45499;
}



/* Facility */

#facility-and-service {
    margin-top: 48px;
}

#facilityOverflow {
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    overflow: hidden;
}

#facilityContainer > a {
    text-decoration: none;
    color: #1372b9;
    transition-duration: 0.5s;
}

#facilityContainer > a:hover {
    color: #8cb454;
}

#facilityCarouselContainer {
    list-style: none;
    padding-left: 0;
    display: flex;
    transition-duration: 1s;
    width: 99%;
    margin: 2px;
    margin-top: 16px;
}

.facilities {
    list-style: none;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    /* border: 1px solid gray; */
    box-shadow: 0px 0px 4px gray;
    border-radius: 16px;
    display: grid;
    grid-template-rows: repeat(2, 50%);
    margin-right: 4%;
    overflow: hidden;
}

.facilities > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    /* display: none; */
}

.facility-text {
    padding: 16px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.facility-text > a {
    text-decoration: none;
    color: #1372b9;
    transition-duration: 0.5s;
}

.facility-text > a:hover {
    color: #8cb454;
}

#facilityButtonContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 16px;
    height: 36px;
}

#facilityButtonContainer > a {
    text-decoration: none;
    background-color: #8cb454;
    border-radius: 8px;
    padding: 8px;
    color: white;
    transition-duration: 0.5s;
    font-size: 14px;
}

#facilityButtonContainer > a:hover {
    color:black;
    background: #8cb45499;
    border: 1px solid #8cb45499;
}

#facilityButtonContainer > button {
    border-radius: 50%;
    height: 100%;
    width: 36px;
    color: white;
    background-color: gray;
    /* box-shadow: 0px 0px 4px gray; */
    border: none;
    opacity: 40%;
    
}

#facilityButtonContainer > button:hover {
    transform: scale(1.15);
    box-shadow: 2px 2px 4px gray;
}




/* Experience Section */

#patient-experience {
    margin-top: 48px;
    margin-bottom: 8px;
    position: relative;
}

#experienceContainer {
    list-style: none;
    padding-left: 0;
    display: flex;
    transition-duration: 1s;
    width: 100vw;
    height: 350px;
    margin-left: -16px;
    margin-right: -16px;
}

.experienceImageList {
    list-style: none;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
}

@keyframes fadeIn {
    0% {opacity: 0%;}
    100% {opacity: 100%}
}

.experienceImageList > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 90%;
}

.experienceImageList > .expText {
    position: absolute;
    background-color: rgb(255, 255, 255, 0.90);
    background-blend-mode: overlay;
    padding: 4px;
    /* border: 1px solid black; */
    /* box-shadow: 0px 0px 4px gray; */
    border-radius: 8px;
    width: 90%;
    bottom: 4%;
    left: 5%;
    font-size: 10px;
    /* transition-delay: ; */
    transition-duration: 1s;
    /* border: 1px solid black; */
    box-shadow: 0px 0px 12px gray;
}

#ExperienceButtonContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 1%;
    left: 0;
}

.expButton {
    /* border-radius: 50%; */
    height: 8px;
    width: 48px;
    background-color: white;
    display: inline-block;
    margin-right: 2px;
    margin-left: 2px;
    opacity: 70%;
    transition-duration: 0.1s;
}

.expButton:hover {
    transform: scale(1.1);
    opacity: 100%;
}


#exp2, #exp3, #exp4 {
    display: none;
}



/* About Us */

#about-us {
    margin-top: 48px;
}

#about-us-bg {
    /* box-shadow: 0px 0px 4px gray; */
    /* border-radius: 16px; */
    background-image: url(Assets/about-us-bg.png);
    background-repeat: no-repeat;
    background-size: auto 100vh;
    background-attachment: fixed;
    background-color: rgba(69, 68, 68, 0.9) ;
    background-blend-mode: overlay;
    height: 100%;
    padding: 16px;
    background-position: center;
    margin-left: -16px;
    margin-right: -16px;
}

#aboutUsContainer {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 16px;
}

#aboutUsContainer > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 90%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

#aboutUsContainer > #aboutUsText {
    padding: 12px;
}



/* Awards */

#awards {
    margin-top: 48px;
}

#awards > a {
    text-decoration: none;
    color: #1372b9;
    transition-duration: 0.5s;
}

#awards > a:hover {
    color: #8cb454;
}

#awardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 0px;
}

.award{
    list-style: none;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    /* border: 1px solid gray; */
    box-shadow: 0px 0px 4px gray;
    border-radius: 16px;
    display: grid;
    grid-template-rows: 80% 20%;
    margin-bottom: 32px;
    overflow: hidden;
}

.award:hover {
    transform: scale(1.02);
    box-shadow: 3px 3px 6px gray;
}

.award > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    /* display: none; */
}

.award > h3 {
    padding-left: 16px;
}



/* Footer */

footer {
    overflow: hidden;
    background-color: #095087;
    padding: 16px;
    color: white;
    display: flex;
    flex-direction: column;
}

footer > img {
    width: 88px;
    background: white;
    border-radius: 50%;
}

#footerSosmedContainer {
    list-style: none;
    display: flex;
    padding: 0px;
}

.footer-sosmed > img {
    width: 36px;
    height: 36px;
    padding-right: 4px;
}

.footer-sosmed > img:hover {
    opacity: 70%;
}

#directory {
    display: flex;
    flex-direction: column;
    color: white;
    padding-bottom: 4px;
}

#directory > a {
    text-decoration: none;
    color: white;
}

#directory > a:hover {
    color: #8cb454;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .facilities {
        grid-template-rows: 70% 30%;
    }
} 

@media only screen and (min-width: 600px) {
    .experienceImageList > .expText {
        font-size: 12px;
    }
} 

@media only screen and (min-width: 600px) {
    #facilityButtonContainer {
        margin-top: 24px;
        height: 48px;
    }
} 

@media only screen and (min-width: 600px) {
    #facilityButtonContainer > a {
        font-size: 16px;
        border-radius: 16px;
        padding: 16px;
    }
} 

@media only screen and (min-width: 600px) {
    #facilityButtonContainer > a {
        font-size: 16px;
    }
} 

@media only screen and (min-width: 600px) {
    #facilityButtonContainer > button {
        width: 48px;
    }
} 

@media only screen and (min-width: 600px) {
    #facilityButtonContainer > button:hover {
        box-shadow: 3px 3px 6px black;
    }
} 

@media only screen and (min-width: 600px) {
    main {
        margin: 20px;
    }
} 

@media only screen and (min-width: 600px) {
    #experienceContainer {
        margin-left: -20px;
        margin-right: -20px;
        height: 75vh;
    }
} 

@media only screen and (min-width: 600px) {
    #about-us-bg {
        margin-left: -20px;
        margin-right: -20px;
    }
} 

@media only screen and (min-width: 600px) {
    footer {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, auto) 32px;
    }
} 

@media only screen and (min-width: 600px) {
    #logo-footer {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-top: 16px;
    }
} 

@media only screen and (min-width: 600px) {
    #contact-footer {
        grid-column: 1/2;
        grid-row: 2/3;
    }
} 

@media only screen and (min-width: 600px) {
    #directory {
        grid-column: 2/3;
        grid-row: 1/3;
    }
} 

@media only screen and (min-width: 600px) {
    #copyright {
        grid-column: 1/3;
        grid-row: 3/4;
        justify-self: center;
    }
} 




/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    #hero {
        height: 80vh;
    }
}

@media only screen and (min-width: 992px) {
    .facilities {
        grid-template-rows: 50% 50%;
    }
} 

@media only screen and (min-width: 992px) {
    #facilityCarouselContainer {
        width: 48%;
    }
} 

@media only screen and (min-width: 992px) {
    #aboutUsContainer {
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 16px;
        margin: 20px;
    }
} 

@media only screen and (min-width: 992px) {
    #awardContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        justify-items: center;
        padding: 0px;
    }
} 

@media only screen and (min-width: 992px) {
    .award{
        list-style: none;
        width: 40%;
        box-shadow: 0px 0px 4px gray;
        border-radius: 16px;
        display: grid;
        grid-template-rows: 80% 20%;
        margin-bottom: 32px;
        overflow: hidden;
    }
} 

@media only screen and (min-width: 992px) {
    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 32px;
    }
} 

@media only screen and (min-width: 992px) {
    #logo-footer {
        grid-column: 1/2;
        grid-row: 1/2;
    }
} 

@media only screen and (min-width: 992px) {
    #contact-footer {
        grid-column: 2/3;
        grid-row: 1/2;
    }
} 

@media only screen and (min-width: 992px) {
    #directory {
        grid-column: 3/4;
        grid-row: 1/2;
    }
} 

@media only screen and (min-width: 992px) {
    #copyright {
        grid-column: 1/4;
        grid-row: 2/3;
        justify-self: center;
    }
} 


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}